#body {
    padding: 1 2;
}

#source {
    margin-bottom: 1;
}

#menu {
    border: round $primary;
    padding: 1 2;
    height: auto;
    max-width: 60;
}

#stations {
    height: 1fr;
    padding: 0;
}

#result {
    border: round $primary;
    padding: 1 2;
    height: auto;
}
